body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
header img {
    max-width: 177px;
    max-height: 50px;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}
.hero .banner {
    width: 100%;
}
.hero-content {
    position: absolute;
    left: 50px;
    top: 225px;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 25px;
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
}
.hero-content p {
    font-size: 1.25rem;
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
}

.header-btn {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 26px 48px;
    border-radius: 18px;
    background-color: #292F36;
    align-items: center;
    cursor: pointer;
    display: flex;
}
.header-btn img {
    margin-left: 10px;
}

.projects {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects-content h2, .projects-content p {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.projects-content h2 {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
}

.projects-content p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 52px;
}

.project {
    display: flex;
    flex-direction: column;
}

.project img {
    width: 100%;
    height: auto;
}

.project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
}

.project-info h3 {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: left;
    margin: 0;
}

.project-info p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
    margin: 5px 0 0;
}

.project-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-next button {
    background: rgb(244, 240, 236);
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-next button img {
    width: 8px;
    height: 18px;
}

.stats {
    background: rgb(244, 240, 236);
    margin-top: 100px;
    text-align: center;
    padding: 40px 0;
    width: 100vw;
    height: 10vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.stats .container {
    max-width: 1200px;
    padding-top: 2vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.stat {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.stat:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 0;
    top: 50%;
    right: -65px;
    left: 100%;
    transform: rotate(90deg) translateY(-50%);
    border: 1px solid rgb(205, 162, 116);
}
.stat h3 {
    color: rgb(205, 162, 116);
    font-family: 'DM Serif Display', serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    margin: 0;
}
.stat p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    margin: 16px 0 0;
}

.articles {
    padding: 50px 0;
    text-align: center;
}

.articles-content h2 {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    margin-bottom: 20px;
}

.articles-content p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    margin-bottom: 40px;
}

.article-grid {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 32%;
    padding: 21px;
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 62px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    background: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    margin-bottom: 47px;
}

.article2 {
    background: rgb(244, 240, 236);
}

.article img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.tag {
    position: absolute;
    width: 124px;
    height: 41px;
    left: 41px;
    top: 249px;
    border-radius: 8px 8px 8px 0px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
    text-transform: capitalize;
    padding: 0 11px; /* Добавлены отступы */
}

.article h3 {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: left;
    margin: 10px 0 10px; /* Уменьшение отступа снизу */
}

.article p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 40px; /* Отступ снизу */
}

.arrow-btn {
    position: absolute;
    width: 52px;
    height: 52px;
    background: rgb(244, 240, 236);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 20px;
    bottom: 20px; /* Опущено вниз */
}

.arrow-btn img {
    width: 20px;
    height: 20px;
}

footer {
    color: white;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col img {
    max-width: 177px;
    max-height: 50px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.footer-col a {
    text-decoration: none;
    color: rgb(77, 80, 83);
}

.footer-col h3 {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.footer-col p {
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 300%;
    letter-spacing: 1%;
    text-align: left;
    margin: 0 0 10px;
}

.footer-col address p {
    margin: 26px 0;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
}

.social-icons {
    display: flex;
    gap: 54px;
    margin-top: 20px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}
