body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0, 50px;
   max-width: 1200px;
   margin: 0 auto;
}

header img {
   max-width: 177px;
   max-height: 50px;
}

nav a {
   margin-left: 20px;
   text-decoration: none;
   color: #333;
}

.banner {
   width: 100%;
   max-width: 1920px;
   height: 351px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner img {
   width: 100%;
   height: auto;
   display: block;
}

.blog-content {
   display: flex;
   margin: 20px;
   justify-content: space-between;
   align-items: flex-start;
}

.blog-post {
   width: 70%;
}

.blog-post h1 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}

.blog-post img {
   width: 100%;
   height: auto;
   max-width: 910px;
   margin-bottom: 20px;
   border-radius: 50px;
   background: rgb(196, 196, 196);
}

.post-meta {
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   margin-bottom: 20px;
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
}

.meta-left {
   flex: 1; /* Занимает всю доступную ширину слева */
}

.meta-right {
   flex: 1; /* Занимает всю доступную ширину справа */
   text-align: right; /* Выравнивание текста справа */
}

.post-content {
   margin-top: 45px;
   margin-bottom: 20px;
}

.post-content h2 {
   color: rgb(41, 47, 54);
   font-family: DM Serif Display;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;

}

.post-content p {
   color: rgb(77, 80, 83);
   font-family: Jost;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}

.post-content li {
   margin-bottom: 32px;
   color: rgb(77, 80, 83);
   font-family: Jost;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}

ul {
   list-style-type: none;
   padding-left: 0;
}

.custom-number {
   display: inline-block;
   width: 40px;
   margin-right: 14px;
   color: rgb(205, 162, 116);
   font-family: DM Serif Display;
   font-size: 20px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}

.quote {
   border-radius: 50px;
   background: rgb(244, 240, 236);
   max-width: 100%;
   max-height: 267px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 53px 227px 53px 227px;
   margin: 35px 0;
   font-style: italic;
}

.quote p {
   color: rgb(205, 162, 116);
   font-family: DM Serif Display;
   font-style: italic;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: center;
}

.tags {
   width: 35%; 
   position: sticky;
   top: 20px;
   padding-left: 20px; 
}

.tags_head {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
   margin-bottom: 10px;
}

.tags-list {
   display: flex;
   flex-wrap: wrap; /* Разрешаем перенос строк в блоке с тегами */
   gap: 10px;
}

.tag-column {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.tag {
   padding: 9px 30px;
   border-radius: 10px;
   background: rgb(244, 240, 236);
   color: rgb(41, 47, 54);
   font-family: 'Jost', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: center;
   cursor: pointer;
   transition: background 0.3s, color 0.3s;
   border: none;
   outline: none;
}

.tag:hover {
   background: rgb(41, 47, 54);
   color: rgb(255, 255, 255);
}

footer {
   color: white;
   padding: 50px 0;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
}

.footer-col img {
   max-width: 177px;
   max-height: 50px;
}

.footer-col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 30%;
}

.footer-col a {
   text-decoration: none;
   color: rgb(77, 80, 83);
}

.footer-col h3 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 0%;
   margin-bottom: 20px;
}

.footer-col p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 300%;
   letter-spacing: 1%;
   text-align: left;
   margin: 0 0 10px;
}

.footer-col address p {
   margin: 26px 0;
   font-size: 18px;
   line-height: 150%;
   text-align: left;
}

.social-icons {
   display: flex;
   gap: 54px;
   margin-top: 20px;
}

.social-icons img {
   width: 32px;
   height: 32px;
}
