body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px;
   max-width: 1200px;
   margin: 0 auto;
}
header img {
   max-width: 177px;
   max-height: 50px;
}
nav a {
   margin-left: 20px;
   text-decoration: none;
   color: #333;
}
.general {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding-top: 50px;
}
.general .banner {
   width: 100%;
}
.general-content {
   position: absolute;
   left: 50px;
   top: 225px;
}
.general-content h1 {
   font-size: 2.5rem;
   margin: 0;
   padding-bottom: 25px;
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
}
.general-content p {
   font-size: 1.25rem;
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}

.header-btn {
   color: #fff;
   font-family: 'Jost', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   padding: 26px 48px;
   border-radius: 18px;
   background-color: #292F36;
   align-items: center;
   cursor: pointer;
   display: flex;
}
.header-btn img {
   margin-left: 10px;
}

.projects {
   padding: 95px 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.projects-content h2, .projects-content p {
   text-align: center;
}

.project-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
}

.projects-content h2 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
}

.projects-content p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   margin-bottom: 52px;
}

.project {
   display: flex;
   flex-direction: column;
}

.project img {
   width: 100%;
   height: auto;
}

.project-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 24px;
}

.project-info {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: auto;
}

.project-info h3 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
   margin: 0;
}

.project-info p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   margin: 5px 0 0;
}

.project-next {
   display: flex;
   justify-content: center;
   align-items: center;
}

.project-next button {
   background: rgb(244, 240, 236);
   border: none;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.project-next button img {
   width: 8px;
   height: 18px;
}

.stats {
   background: rgb(244, 240, 236);
   margin-top: 100px;
   text-align: center;
   padding: 40px 0;
   width: 100vw;
   height: 10vw;
   position: relative;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
}
.stats .container {
   max-width: 1200px;
   padding-top: 2vw;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;
}
.stat {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.stat:not(:last-child)::after {
   content: "";
   position: absolute;
   width: 130px;
   height: 0;
   top: 50%;
   right: -65px;
   left: 100%;
   transform: rotate(90deg) translateY(-50%);
   border: 1px solid rgb(205, 162, 116);
}
.stat h3 {
   color: rgb(205, 162, 116);
   font-family: 'DM Serif Display', serif;
   font-size: 85px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   margin: 0;
}
.stat p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   margin: 16px 0 0;
}

.articles {
   padding: 50px 0;
   text-align: center;
}

.articles-content h2 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   margin-bottom: 20px;
}

.articles-content p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   margin-bottom: 40px;
}

.article-grid {
   display: flex;
   justify-content: space-between;
}

.article {
   width: 32%;
   padding: 21px;
   box-sizing: border-box;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 62px;
   box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
   background: rgb(255, 255, 255);
   position: relative;
   text-align: left;
   margin-bottom: 47px;
}

.article2 {
   background: rgb(244, 240, 236);
}

.article img {
   max-width: 100%;
   border-radius: 15px;
   margin-bottom: 20px;
}

.article h3 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
   margin: 10px 0 10px; /* Уменьшение отступа снизу */
}

.article p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
   margin-bottom: 40px; /* Отступ снизу */
}

.arrow-btn {
   position: absolute;
   width: 52px;
   height: 52px;
   background: rgb(244, 240, 236);
   border: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   right: 20px;
   bottom: 20px; /* Опущено вниз */
}

.arrow-btn img {
   width: 20px;
   height: 20px;
}

.hero {
   position: relative;
   text-align: center;
   overflow: hidden;
}


.hero img {
   width: 100%;
   height: auto;
   display: block;
}


.hero-overlay {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   max-width: 503px;
   max-height: 274px;
   margin-top: 178px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 41px 78px;
   background: rgba(255, 255, 255, 0.9);
   border-radius: 37px 37px 0 0;
   box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
   z-index: 1;
}


.hero-content {
   width: 100%;
   position: relative;
   z-index: 2; 
}


.hero-content h1 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 2.5rem;
   font-weight: 400;
   line-height: 1.25;
   text-align: center;
   margin: 0;
}


.hero-content p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   margin: 0;
}


.latest-post {
   margin-top: 104px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
}


.latest-post h2, .articles h2 {
   font-family: 'DM Serif Display', serif;
   color: rgb(41, 47, 54);
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}


.post-content {
   display: flex;
   gap: 20px;
   margin-top: 20px;
   box-sizing: border-box;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 62px;
   box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
   padding: 22px;
   position: relative;
}


.post-content img {
   width: 50%;
   height: auto;
   border-radius: 10px;
   margin-right: 65px;
}


.post-text {
   width: 50%;
}


.post-text h3 {
   font-family: 'DM Serif Display', serif;
   color: rgb(41, 47, 54);
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}


.post-text p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}


.post-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 41px;
}


.post-date {
   color: rgb(77, 80, 83);
   font-family: Jost;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
}


.read-more {
   display: flex;
   align-items: center;
}


.arrow-btn {
   background: rgb(244, 240, 236);
   border: none;
   width: 52px;
   height: 52px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}


.arrow-btn img {
   width: 8px;
   height: 18px;
}


.article-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 28px; 
}


.article {
   padding: 21px;
   box-sizing: border-box;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 62px;
   box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
   background: rgb(255, 255, 255);
   position: relative;
   text-align: left;
   margin-bottom: 47px;
}


.article2 {
   background: rgb(244, 240, 236);
}


.article img {
   max-width: 100%;
   border-radius: 15px;
   margin-bottom: 20px;
}

.tag {
   position: absolute;
   width: 124px;
   height: 41px;
   left: 41px;
   top: 249px;
   border-radius: 8px 8px 8px 0px;
   background: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
   padding: 0 11px;
}


.article h3 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
   margin: x 0 10px;
}


.article p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
   margin-bottom: 40px; 
}


.arrow-btn {
   position: absolute;
   width: 52px;
   height: 52px;
   background: rgb(244, 240, 236);
   border: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   right: 20px;
   bottom: 20px;
}


.article2 .arrow-btn {
   background: rgb(255, 255, 255); 
}


.arrow-btn img {
   width: 20px;
   height: 20px;
   display: block; 
   margin: 0 auto;
}


.ellipses {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-bottom: 200px; /* Отступ до footer */
}


.ellipse {
   width: 52px;
   height: 52px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(41, 47, 54);
   font-family: Jost;
   font-size: 16px;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: 0%;
   text-align: left;
   text-transform: capitalize;
}


.ellipse:nth-child(2) {
   box-sizing: border-box;
   border: 1px solid rgb(205, 162, 116);
}


.ellipse:nth-child(3) {
   box-sizing: border-box;
   border: 1px solid rgb(205, 162, 116);
}


.ellipse:nth-child(4) {
   box-sizing: border-box;
   border: 1px solid rgb(205, 162, 116);
}

.banner {
   width: 100%;
   max-width: 1920px;
   height: 351px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner img {
   width: 100%;
   height: auto;
   display: block;
}

.blog-content {
   display: flex;
   margin: 20px;
   justify-content: space-between;
   align-items: flex-start;
}

.blog-post {
   width: 70%;
}

.blog-post h1 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}

.blog-post img {
   width: 100%;
   height: auto;
   max-width: 910px;
   margin-bottom: 20px;
   border-radius: 50px;
   background: rgb(196, 196, 196);
}

.post-meta {
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   margin-bottom: 20px;
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
   text-transform: capitalize;
}

.meta-left {
   flex: 1; /* Занимает всю доступную ширину слева */
}

.meta-right {
   flex: 1; /* Занимает всю доступную ширину справа */
   text-align: right; /* Выравнивание текста справа */
}

.post-content {
   margin-top: 45px;
   margin-bottom: 20px;
}

.post-content h2 {
   color: rgb(41, 47, 54);
   font-family: DM Serif Display;
   font-size: 50px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;

}

.post-content p {
   color: rgb(77, 80, 83);
   font-family: Jost;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}

.post-content li {
   margin-bottom: 32px;
   color: rgb(77, 80, 83);
   font-family: Jost;
   font-size: 22px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 1%;
   text-align: left;
}

ul {
   list-style-type: none;
   padding-left: 0;
}

.custom-number {
   display: inline-block;
   width: 40px;
   margin-right: 14px;
   color: rgb(205, 162, 116);
   font-family: DM Serif Display;
   font-size: 20px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
}

.quote {
   border-radius: 50px;
   background: rgb(244, 240, 236);
   max-width: 100%;
   max-height: 267px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 53px 227px 53px 227px;
   margin: 35px 0;
   font-style: italic;
}

.quote p {
   color: rgb(205, 162, 116);
   font-family: DM Serif Display;
   font-style: italic;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: center;
}

.tags {
   width: 35%; 
   position: sticky;
   top: 20px;
   padding-left: 20px; 
}

.tags_head {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: left;
   margin-bottom: 10px;
}

.tags-list {
   display: flex;
   flex-wrap: wrap; /* Разрешаем перенос строк в блоке с тегами */
   gap: 10px;
}

.tag-column {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.tag {
   padding: 9px 30px;
   border-radius: 10px;
   background: rgb(244, 240, 236);
   color: rgb(41, 47, 54);
   font-family: 'Jost', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 2%;
   text-align: center;
   cursor: pointer;
   transition: background 0.3s, color 0.3s;
   border: none;
   outline: none;
}

.tag:hover {
   background: rgb(41, 47, 54);
   color: rgb(255, 255, 255);
} 

footer {
   color: white;
   padding: 50px 0;
}

.footer-container {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
}

.footer-col img {
   max-width: 177px;
   max-height: 50px;
}

.footer-col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 30%;
}

.footer-col a {
   text-decoration: none;
   color: rgb(77, 80, 83);
}

.footer-col h3 {
   color: rgb(41, 47, 54);
   font-family: 'DM Serif Display', serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 125%;
   letter-spacing: 0%;
   margin-bottom: 20px;
}

.footer-col p {
   color: rgb(77, 80, 83);
   font-family: 'Jost', sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 300%;
   letter-spacing: 1%;
   text-align: left;
   margin: 0 0 10px;
}

.footer-col address p {
   margin: 26px 0;
   font-size: 18px;
   line-height: 150%;
   text-align: left;
}

.social-icons {
   display: flex;
   gap: 54px;
   margin-top: 20px;
}

.social-icons img {
   width: 32px;
   height: 32px;
}